<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="ur_here">首页 &raquo; 快递单号 &raquo; 快递类型设置</div>
<div class="container">
	<div class="subnav">
		<a href="express_info.php">新增快递</a>
	</div>
    <table width="100%" id="listTb">
      <tr>
        <th>快递名称</th>
        <th>排序</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
	    {foreach item=item key=key from=$params}
      <tr>
        <td><a href="express_info.php?eid={$item.id}">{$item.title}</a></td>
        <td>{$item.shownum}</td>
        <td>{if $item.state}<img src="images/yes.gif" />{else}<img src="images/no.gif" />{/if}</td>
        <td>
          <a href="express_info.php?eid={$item.id}">修改</a>|{if $item.state}<a href="express_set.php?act=stop&dropid={$item.id}" onclick="return confirm('您确定要暂停此快递吗？')">暂停</a>{else}<a href="express_set.php?act=start&dropid={$item.id}" onclick="return confirm('您确定要启用此快递吗？')">启用</a>
          {/if}
        </td>
      </tr>
	    {/foreach}
    </table>
</div>
</body>
</html>