<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="ur_here">首页 &raquo; 财务管理 &raquo; 提现设置</div>
<div class="container">
    <form id="form1" name="form1" method="post" action="">
      <table width="100%" id="editTb">
        <tr>
          <th colspan="2">基本参数设置</th>
        </tr>
        <tr>
          <td class="left">提现积分</td>
          <td><input name="textfield" type="text" value="" /></td>
        </tr>
        <tr>
          <td class="left">弹窗图片</td>
          <td>
            <a href="javascript:;" class="upload-btn">上传图片
              <input type="myfile" name="photo" />
            </a>
          </td>
        </tr>
        <tr>
          <td  colspan="2" class="footer">
            <input type="submit" class="submit" value="确定">
          </td>
        </tr>
      </table>    
    </form>
</div>
</body>
</html>