<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="ur_here">首页 &raquo; 论坛管理 &raquo; 论坛板块</div>
<div class="container">
	<div class="subnav">
		<a href="forum.php?act=info">新增板块</a>
	</div>
    <form id="form1" name="form1" method="post" action="">
      <table width="100%" id="listTb">
        <tr>
          <th>序号</th>
          <th>板块名称</th>
          <th>操作</th>
        </tr>
  	    {foreach item=item key=key from=$list}
        <tr data="{$item.id}">
          <td>{$item.sorting}</td>
          <td>{$item.forum_name}</td>
          <td>
            <a href="forum.php?act=info&fid={$item.id}">编辑</a>|<a href="forum.php?did={$item.id}" onclick="return confirm('您确定要删除此板块吗？')">删除</a>
          </td>
        </tr>
  	    {/foreach}
      </table>
    </form>
</div>
</body>
</html>