<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="ur_here">首页 &raquo; 系统管理 &raquo;  栏目列表</div>
<div class="container">
	<!--form  method="post" action="" id="form1">
		<div class="subnav">
			<!--<a href="user_rank.php?act=info">新增等级</a>-->
			
			<!--手机号：<input type="text" name="phone" id="phone" value="{if $phone}{$phone}{/if}" placeholder="手机号" style="height:23px">
			<input type="submit" name="" value="检索" id="search">
		</div>
	</form-->

	<div class="subnav">
		<a href="set_system.php?act=addmenu">添加栏目</a>
	</div>
	<table width="100%" id="listTb">
	  <tr>
		<th>ID</th>
		<th>栏目名</th>
		<th>顶部栏目</th>
		<th style="width:300px;">右侧栏目</th>
		<th>操作</th>
	  </tr>
	   {foreach item=v key=k from=$data}
	  <tr>
		<td>{$v.id}</td>
		<td>{$v.name}</td>
		<td>{$v.active}</td>
		<td></td>
		<td>{if $v.id eq 7} {else} <a href="set_system.php?act=edit_menu&id={$v.id}">修改</a>|<a href="set_system.php?act=del_menu&id={$v.id}">删除</a>{/if}
		</td>
	  </tr>
		{if $v.data}
			{foreach item=val key=key from=$v.data}
			<tr>
				<td>{$val.id}</td>
				<td>∟{$val.name}</td>
				<td></td>
				<td>{$val.method}</td>
				<td><a href="set_system.php?act=edit_menu&id={$val.id}">修改</a>|<a href="set_system.php?act=del_menu&id={$val.id}">删除</a></td>
			</tr>
			{/foreach}
		{/if}
	  {/foreach}
	</table>
</div>
<script>
$(function(){
	var phone = $("#phone").val();
	$("#search").click(function(){
		changeSearch()
	})
	if(phone != ""){
		changeSearch()
	}
	function changeSearch(){
		$("#page a").each(function(index,ele){
			var yhref = $(ele).attr("href");
			$(ele).attr("href",yhref+"&phone="+phone);
		})
	}
})
</script>
</body>
</html>