<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
	function checkForm(form){
		return confirm("您确定要保存这些数据吗？");
	}
</script>
</head>
<body>
	<div class="ur_here">首页 &raquo; 网站设置 &raquo; 网站设置</div>
	<div class="container">
	    <form id="form1" name="form1" method="post" action="" onsubmit="return checkForm(this);">
		    <table width="100%" id="editTb">
		      <tr>
		        <th colspan="2">网站设置</th>
		      </tr>
			  {foreach item=item key=key from=$params}
		      <tr>
		        <td class="left">{$item.name}</td>
		        <td>
				{if $item.type eq 'text'}
				<input name="param[{$item.code}]" type="text" value="{$item.value}" size="60" /> {if $item.unit}{$item.unit}{/if}
				{elseif $item.type eq 'datetime'}
				<input name="param[{$item.code}]" type="text" value="{$item.value}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});" readonly="readonly" />
				{elseif $item.type eq 'textarea'}
		        <textarea name="param[{$item.code}]" cols="60" rows="5">{$item.value}</textarea>
				{elseif $item.type eq 'radio'}
					{foreach item=im from=$item.options}
					<label><input name="param[{$item.code}]" type="radio" value="{$im.value}" {if $item.value eq $im.value}checked{/if}/> {$im.note}</label>
					{/foreach}
				{/if}
				</td>
		      </tr>
			  {/if}
		      <tr>
		        <td colspan="2" class="footer">
					<input type="submit" class="submit" value="保存" />
					<input type="reset" class="reset" value="重填" />
				</td>
		      </tr>
		    </table>
	    </form>
	</div>
</body>
</html>