<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="ur_here">首页 &raquo; 网站设置 &raquo; 基本参数设置</div>
<div class="container">
	<div class="itemtitle">
		<span class="title">网站设置</span>
		<a href="?act=base" class="sel"><span>基本参数设置</span></a>
		<a href="?act=sms">短信设置</a>
		<a href="?act=shengpay">盛付通设置</a>
		<a href="?act=other">其它设置</a>
	</div>	
	
    <form id="form1" name="form1" method="post" action="">
    <table width="100%" id="editTb">
      <tr>
        <th colspan="2">基本参数设置</th>
      </tr>
      <tr>
        <td class="left">站点名称</td>
        <td><input name="textfield" type="text" value="1" /></td>
      </tr>
      <tr>
        <td class="left">站点关键词</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="left">站点描述</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="left">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    </form>
</div>
</body>
</html>
